# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
testfile.txt
testWrite.lua
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/TAWKI_TCPServer.vshost.exe
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/TAWKI_TCPServer.vshost.exe.manifest
*.cache
KI/KI_TCPServer/TAWKI_TCPServer/obj/Debug/TAWKI_TCPServer.csproj.FileListAbsolute.txt
KI/KI_TCPServer/TAWKI_TCPServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KI/KI_TCPServer/TAWKI_TCPServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KI/KI_TCPServer/TAWKI_TCPServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170531_client_0
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170601_client_0
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170602_client_1
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170531_client_1
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170927_client_1
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170927_client_0
*.log
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170628_client_1
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170601_client_1
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170603_client_1
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170603_client_0
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170627_client_0
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170628_client_0
KI/KI_TCPServer/TAWKI_TCPServer/bin/Debug/20170628_client_0
*.bak
